{% extends "base_auth.html" %}
{% load i18n bootstrap3 %}

{% block meta_title %}
    {% trans 'Password reset' context 'Meta: auth title.' %} -
    {{ block.super }}
{% endblock %}

{% block auth_title %}{% trans 'Success.' context 'Authentication page title.' %}{% endblock %}

{% block auth_description %}
    <p>{% trans 'Your password is now changed.' context 'Authentication page title.' %}</p>
    <br/>
    <p><a href="{% url 'account_login' %}" class="btn btn-lg btn-primary">{% trans 'Login' %}</a></p>
{% endblock %}

{% block auth_form %}{% endblock %}
{% block auth_submit_btn %}{% endblock %}