{% extends "base_auth.html" %}
{% load i18n static %}

{% block meta_title %}
    {% trans 'Password change' context 'Meta: auth title.' %} -
    {{ block.super }}
{% endblock %}

{% block auth_title %}
    {% trans 'Password change.' context 'Authentication page title.' %}
{% endblock %}

{% block auth_form_action %}{% url 'account_change_password' %}{% endblock %}
{% block auth_form_class %}password_change{% endblock %}

{% block submit_btn_label %}
    {% trans 'Reset' context 'Authentication page submit button label.' %}
{% endblock %}
