{% extends "base_auth.html" %}
{% load i18n %}

{% block meta_title %}
    {% trans 'Password reset' context 'Meta: auth title.' %} -
    {{ block.super }}
{% endblock %}

{% block auth_title %}
    {% trans 'Password reset.' context 'Authentication page title.' %}
{% endblock %}

{% block auth_description %}
    {% trans 'We need to verify your identity in order to reset your password.' context 'Authentication page description.' %}
{% endblock %}

{% block submit_btn_label %}
    {% trans 'Reset my password' context 'Authentication page submit button label.' %}
{% endblock %}
