{% extends "base_auth.html" %}
{% load i18n bootstrap3 %}

{% block meta_title %}
    {% trans 'Password reset' context 'Meta: auth title.' %} -
    {{ block.super }}
{% endblock %}

{% block auth_title %}
    {% if token_fail %}
        {% trans "Bad Token" %}
    {% else %}
        {% trans "Change Password" %}
    {% endif %}
{% endblock %}

{% block auth_form %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="auth-form">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br />
                    <input class="btn btn-lg btn-primary" type="submit" name="action" value="{% trans 'Change password' context 'Authentication page submit button label.' %}"/>
                </form>
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}