{% extends "base_auth.html" %}
{% load i18n %}

{% block meta_title %}
    {% trans 'Password reset' context 'Meta: auth title.' %} -
    {{ block.super }}
{% endblock %}

{% block auth_title %}{% trans 'Password reset.' context 'Authentication page title.' %}{% endblock %}
{% block auth_description %}
    <p>{% trans 'We have sent you an email with a password reset link. Please contact us if you do not receive it within a few minutes.' context 'Authentication page description.' %}</p>
    <h4><a href="mailto:{{ settings.CONTACT_EMAIL }}">{{ settings.CONTACT_EMAIL }}</a></h4>
{% endblock %}

{% block auth_form %}{% endblock %}
{% block auth_submit_btn %}{% endblock %}