.DS_Store
*.log
*.pot
*.pyc
*.css
*.css.map
*.zip
*.sql
.cache
.idea
/env
/media
/private
/node_modules
/static
bower_components
playground
local.py
bin/
lib/
pyvenv.cfg
apps/solar/MLdata
db/
MLdata
package-lock.json
