{% extends "static_page.html" %}
{% load i18n static %}

{% block meta_title %}
    {{ block.super }} - {% trans 'Investors' context 'Meta: Page title.' %}
{% endblock %}

{% block meta_description %}
    {% trans "Information about PowerMarket for investors and venture capital companies." context "Meta description." %}
{% endblock %}

{% block page_title %}
    {% trans 'Investors' context 'Page title.' %}
{% endblock %}

{% block page_content %}

    <div class="row">

        <div class="col-xs-12 section-tight">

            <p>
                {% blocktrans context 'Page description.' %}Our seed funding round is currently open. Please get in touch for more details.{% endblocktrans %}
            </p>

            <h3><a href="mailto:{{ settings.CONTACT_EMAIL }}">{{ settings.CONTACT_EMAIL }}</a></h3>

        </div>

    </div>

{% endblock %}
