{% extends "landing/blog/amp/amp_blog_article.html" %}
{% load i18n static svg %}

{% block styles %}
    .step-container {
        display: inline-block;
        width: 24%;
    }
    .step-icon {
        width: 7vw;
        height: 7vw;
        vertical-align: middle;
    }

    .step-description {
        padding: 4rem 2rem 0 0;
    }
{% endblock %}

{% block page_title %}PowerMarket: A win-win for solar installers and customers{% endblock %}
{% block article_author %}<a href="https://www.linkedin.com/in/haemroy/" target="_blank" class="underline">Haem Roy</a>{% endblock %}
{% block article %}
    <p>
        The solar industry and green energy supporters are finding several occasions to rejoice as the cost
        of solar has been reducing steadily for last 3 decades. Interestingly enough, the cost of solar has
        dropped by 99% since 1977, bringing solar closer to grid-parity, or in some places, at grid-parity.
    </p>
    <p>
        However, as the cost of solar and BoS (balance of systems) continues to reduce, the customer
        acquisition costs (CAC) has been increasing steadily for most suppliers. For some of the market
        leaders in solar, their CAC has been as high as 18% and that is after spending millions on staff
        that only focuses on sales and marketing. This kind of investment impacts both growth and profits
        considerably for any company within the industry.
    </p>
    <p>
        There are a couple of concerns that are common among most medium and small installers and suppliers:
    </p>
    <ol>
        <li>
            A majority are not aware of their CAC and as a result, have a much higher customer cost of
            acquisition, while struggling with a very low customer conversion rate.
        </li>
        <li>
            The CAC is bound to continuously increase if left unchecked.
        </li>
    </ol>
    <p>
        Solar installers often use traditional sales and marketing methods such referrals, advertising,
        door-to-door sales or buying leads from generic lead-generation companies. Methods such as referrals,
        advertising and door-to-door sales are extremely time consuming and have very low conversion rates.
        On the other hand, installers that have tried buying leads from generic online marketing have learnt
        it the hard way that those leads tend to be of poor quality.
    </p>
    <p>
        Some of the recent statistics also suggest that an increasing number of customers now prefer
        web-based platforms to find initial quotes. In fact, majority of consumers prefer a quote first,
        before a site visit.
    </p>
    <p>
        PowerMarket was developed with a mission to facilitate sustainable energy for all. One of its
        leading objectives is to make it really easy for customers to evaluate, procure, finance and maintain
        solar energy projects. The web-based tool uses downstream satellite data and artificial intelligence,
        creating a solar map, which allows customers to assess the payback and environmental impact of solar
        on their premises for free and within a few seconds.
    </p>
    <p>
        As a result, interested customers first assess their premises, pre-qualifying themselves and the ones
        keen on buying then sign-up with PowerMarket to find high-quality installers. The PowerMarket team
        then follows-up with those interested customers verifying their interest and only post that shares
        it with its installer network.
    </p>
    <p>
        Now, installers can even specify the geographical location and customer segment that they are
        interested in. We at PowerMarket put tremendous focus on evaluating a customer-installer fit, which
        means that not every installer is fit for every customer and vice versa. The PowerMarket team ensures
        that the customer-installer fit is assessed every time a customer sign-up on its platform, increasing
        your chances of closing a deal and improving your conversion rate, as well as valuing the time of
        customers and installers.
    </p>
    <p>
        With so much invested in creating a verified flow of customers, as an installer registered on
        PowerMarket, you can now be at ease as far as finding customers is concerned.
    </p>
    <br/>
    <div class="step-container">
        <div class="step-icon">
            {% svg 'noun-polygon' %}
        </div>
        <div class="step-description">
            <p class="lead">
                The customer assesses its solar potential and signs-ups.
            </p>
        </div>
    </div>
    <div class="step-container">
        <div class="step-icon">
            {% svg 'noun-solarpanels' %}
        </div>
        <div class="step-description">
            <p class="lead">
                Solar specs and design created, using personalised data.
            </p>
        </div>
    </div>
    <div class="step-container">
        <div class="step-icon">
            {% svg 'noun-financing' %}
        </div>
        <div class="step-description">
            <p class="lead">
                The customer receives quotes and financing options.
            </p>
        </div>
    </div>
    <div class="step-container">
        <div class="step-icon">
            {% svg 'noun-support' %}
        </div>
        <div class="step-description">
            <p class="lead">
                We provide support until project completion.
            </p>
        </div>
    </div>
    <p>
        If you are an installer located in the UK or India, you can <a href="https://www.powermarket.net/supplier/information/" class="underline">now sign-up</a>
        to receive hot leads from PowerMarket instantly. If you are located elsewhere and are still interested,
        please sign-up and we will work with you to launch PowerMarket in your country.
    </p>
{% endblock %}
