{% extends "landing/blog/amp/amp_blog_article.html" %}
{% load i18n static svg %}

{% block page_title %}Huge electricity savings for business and science parks which invest in solar power:{% endblock %}
{% block page_subtitle %}Case study suggests Harwell Science and Innovation Campus could save £33mn with solar PV cluster{% endblock %}
{% block article_author %}<a href="https://www.linkedin.com/in/camille-salord-36b49a53/camille-salord-36b49a53/" target="_blank" class="underline">Camille Salord</a>{% endblock %}
{% block article %}
    <p>
        One of the biggest science and technology parks in the UK spends approximately £8.3mn pounds every year on buying electricity from the grid.
    </p>
    <p>PowerMarket's latest case study has revealed that Harwell could save approximately 16% of its electricity usage - which works out as £33.0mn and 200,000 tons of CO2 over the next 25 years - by generating some of this electricity through a cluster of distributed solar installations.
    </p>
    <br/>
    <p><img src="{% static 'img/harwell1.jpg' %}" width="100%" height="auto" /></p>
    <p class="text-center"><small><i>Figure 1: Suggested Harwell Campus Solar PV Installations, image source: Google Maps</i></small></p>
    <br/>
    <p>
        PowerMarket has used its solar assessment tool to evaluate 8 sites suitable for solar photovoltaic
        installations at Harwell campus. The sites include a mix of rooftop installations, car-ports and
        ground mounted solar. The results suggest that, despite the high energy consumption at Harwell
        due to the nature of the organisations and advanced science based there, the potential savings
        achievable through installing solar are at a similar level to those previously reported by
        PowerMarket's <a href="https://www.powermarket.net/blog/why-business-parks-are-bleeding-money/">case study of Business Parks</a> around Britain.
    </p>
    <p>
        The inspiration for applying PowerMarket's solar assessment tool to the Harwell campus came
        from the fact that PowerMarket is housed within the European Space Agency Business
        Incubator, which is located in Harwell Campus. Thousands of people work at Harwell on world-
        leading scientific research, consuming significant amount of electricity in the process.
    </p>
    <p>
        But what if Harwell Campus were to install distributed solar around the campus? What would be
        the impact of such installations be on overall energy consumption and electricity costs, and what
        would be the environmental benefits?
    </p>
    <p>
        A detailed solar assessment could take weeks of work, thousands of pounds measuring different
        sites, evaluating solar irradiation data and preparing reports.
    </p>
    <p>
        Fortunately, the <a href="http://www.powermarket.net">PowerMarket solar assessment tool</a> allows anyone to estimate the solar potential
        and financial and environmental benefits of installing solar at their premises in just a few
        seconds and completely free.
    </p>
    <div>
        <img src="{% static 'img/harwell2.jpg' %}" width="100%" height="auto" />
    </div>
    <p class="text-center"><small><i>Figure 2: Harwell Campus Solar Car-port, image source: Google Maps</i></small></p>
    <br/>
    <p>
        Of the 8 sites that PowerMarket assessed, one option considered was to install a
        solar carport over one of the campus car-parks. At a place like Harwell, solar carports could be
        tremendously useful as energy generated could be used in buildings, but also in charging points
        for electric vehicles. One can already see many electric vehicles owned by forward-looking
        employees at Harwell, and their growth is likely to accelerate rapidly over the next few years.
    </p>

    <div>
        <img src="{% static 'img/harwell3.jpg' %}" width="100%" height="auto" />
    </div>
    <p class="text-center"><small><i>Figure 3: Suggested rooftop solar installations at Harwell Campus, image source: Google Maps</i></small></p>
    <br/>
    <div>
        <img src="{% static 'img/harwell4.jpg' %}" width="100%" height="auto" />
    </div>
    <p class="text-center"><small><i>Figure 4: Harwell Campus suggested ground mounted solar PV, image source: Google Maps</i></small></p>
    <br/>
    <p>
        Potential rooftop and ground mounted installations have also been identified. The PowerMarket
        assessment tool assumes that the electricity generated by solar would be 100% for captive use.
        Additionally, the tool takes into account solar irradiation in that region, solar energy policy
        (feed-in- tariff) and the cost of utility electricity that solar would be replacing, thus considering
        variable factors to provide more accurate estimates.
    </p>
    <div>
        <img src="{% static 'img/harwell5.jpg' %}" width="100%" height="auto" />
    </div>
    <p class="text-center"><small><i>Figure 5: Harwell Campus Solar assessment report summary, generated in just a few minutes at <a href="http://www.powermarket.net">www.powermarket.net</a></i></small></p>
    <br/>
    <p>
        In addition to the financial impact of solar, the environmental impact of these projects would also
        be very significant. The potential installations identified by PowerMarket at Harwell Campus
        could save over 200,000 tons of CO2 over the next 25 years. That's the equivalent of planting
        6,800 new trees, or taking 1,100 cars off the road for an entire year. The environmental impact is
        also a part of PowerMarket's solar assessment report. Whilst installing solar generation on this
        scale would require a significant upfront investment, the potential payback period of 8.4 years
        (assuming 100% captive use) is relatively short and the overall financial benefits of such
        investment are substantial.
    </p>
    <p>
        Of course, it's not only large science and business parks that are wasting money year after year,
        buying increasingly expensive electricity. An average sized UK-based company can save up to
        30% of its electricity cost by installing solar. If you are wondering how your company can
        benefit from it, you can assess your premises in just a few clicks at <a href="http://www.powermarket.net">PowerMarket and sign-up for
        free</a>. Or, if you are large commercial organisation with multiple buildings, contact PowerMarket
        for a customised assessment.
    </p>
    <p>
        PowerMarket has already helped several organisations evaluate their solar potential, develop
        their system specifications, identify quality solar installers and find financing solutions suitable
        to their needs. You can find out more about different financing solutions available on the
        <a href="http://www.powermarket.net">PowerMarket website</a>.
    </p>
    <br/>
    <br/>
    <p>
        (Disclaimer: the above report is solely a work of PowerMarket and it plans to share the report
        with Harwell Campus management)
    </p>
{% endblock %}
