{% extends "landing/blog/amp/amp_blog_article.html" %}
{% load i18n static svg %}

{% block page_title %}Why business parks are bleeding money...{% endblock %}
{% block page_subtitle %}The best hedge against rising energy prices is to be energy independent.{% endblock %}
{% block article_author %}<a href="https://www.linkedin.com/in/haemroy/" target="_blank" class="underline">Haem Roy</a>{% endblock %}
{% block article %}
    <p>
        Business Parks typically tend to have big energy bills. However, sustainability achievements can now
        come along with reduced operational costs and protection from ever increasing energy expenses.
    </p>
    <div><amp-img src="{% static 'img/rooftops-new_1920x740.jpg' %}" width="800" height="308"></amp-img></div>
    <p>
        <b>Solar microgrids</b> are one such solution that can not only help business parks achieve their sustainability targets,
        but also help to generate up to 30% of their electricity needs, protecting them and their tenants
        from ever increasing energy prices. Below is a brief study from
        <a href="https://www.powermarket.net" class="default-link">PowerMarket</a>.
    </p>
    <p>
        In 2014 the UK government assessed that there is 250,000 hectares of south facing commercial rooftops
        suitable for solar pv<sup>1</sup>. Based on this figure it is estimated that British businesses could
        be saving £5bn a year in electricity bills through the installation of rooftop solar PV; this
        represents a 23.8% saving on the current total of £21bn.
    </p>
    <p>
        Given this is the case, it would seem logical that property owners with suitable roof spaces and high
        electricity bills would immediately look for solar. Yet a survey commissioned by E.ON demonstrated
        that almost half of senior managers at British companies are unaware of their energy spend, and as a
        result, are unaware of the savings that could be made<sup>2</sup>. A solar installation will reduce the
        amount of money that would need to be spent on electricity from the grid, where year on year price
        rises are the norm. It is also an important signal of a business’s green credentials, especially
        relevant for those with sustainability targets to reach.
    </p>
    <p>
        To demonstrate the opportunity that is being missed,
        <a href="https://www.powermarket.net" class="default-link">PowerMarket</a>
        took the initiative to conduct its independent survey of business parks in the UK. We chose business
        parks because they tend to have large, flat roof areas and the tenants typically face high
        electricity bills.
    </p>
    <div>
        <amp-img src="{% static 'img/business-park-map_1080x500.jpg' %}" width="800" height="370"></amp-img>
    </div>
    <p class="text-center"><small><i>Figure 1: Location of business parks studied by PowerMarket, image source: Google Maps</i></small></p>
    <p>
        Our findings were startling. The study showed that, on average business parks can generate financial
        returns, comprised of savings on energy bills and income from feed-in-tariffs, of £18 sqm/year.
        Or, in other words, the value of a solar installation to a typical business park with 5000sqm of
        roof area is £4.0million over a 25 year period.
    </p>
    <br/>
    <p>
        <small>
            <sup>1</sup> <a href="https://www.gov.uk/government/news/the-uks-rooftops-to-become-power-stations" class="default-link">https://www.gov.uk/government/news/the-uks-rooftops-to-become-power-stations</a>
        </small>
    </p>
    <p>
        <small>
            <sup>2</sup> <a href="http://www.telegraph.co.uk/business/energy-efficiency/businesses-lack-energy-knowledge/" class="default-link">http://www.telegraph.co.uk/business/energy-efficiency/businesses-lack-energy-knowledge/</a>
        </small>
    </p>
{% endblock %}
