@import "variables";

/* -------------------------------------
		GLOBAL
------------------------------------- */
* {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Roboto Condensed Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
  max-width: 100%;
}
.collapse {
  margin: 0;
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100%!important;
  height: 100%;
  background-color: $white;
}
td {
  color: $default-text-color;
}
hr {
  color: $light-gray;
  border-color: $light-gray;
  background: $light-gray;
  margin: 20px 0;
}
.max-800 {
  max-width: 800px;
}
.primary-text-dark {
  color: darken($primary-color, 20%);
}
.secondary-text-dark {
  color: darken($secondary-color, 40%);
}
/* -------------------------------------
		ELEMENTS
------------------------------------- */
a {
  color: $default-text-color;
}
.btn {
  text-decoration: none;
  color: $white;
  background-color: $primary-color;
  padding: 5px 15px;
  border-radius: $border-radius;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  box-shadow: $default-box-shadow;

  &:hover {
    background-color: darken($primary-color, 5%);
  }
}
.btn-theme {
  background-color: $theme-color;

  &:hover {
    background-color: darken($theme-color, 5%);
  }
}
.btn-light-gray {
  background-color: $light-gray;

  &:hover {
    background-color: darken($light-gray, 5%);
  }
}
.sm-icon {
  display: inline-block;
  background-color: $theme-color;
  padding: 7px;
  border-radius: $border-radius;
  box-shadow: $default-box-shadow;
  margin-right: 5px;
}
.table-section-title {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 5px;
  font-size: 120%;
  color: $theme-color;
}
p.callout {
  padding: 15px;
  background-color: $lightest-gray;
  margin: 0 -15px 15px -15px;
  color: $default-text-color;
  font-size: 12px;
  border-radius: $border-radius-lg;
  box-shadow: $default-box-shadow;

  a {
    color: $theme-color;
    font-weight: bold;
  }
}
p.disclaimer {
  a {
    color: $default-text-color;
    font-weight: normal;
  }
}
table.social {
  background-color: #ebebeb;
}
.social .soc-btn {
  padding: 3px 7px;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  display: block;
  text-align: center;
}
.sidebar .soc-btn {
  display: block;
  width: 100%;
}
.report-summary {
  background-color: $lightest-gray;
  border-radius: $border-radius-lg;
  padding: 30px 15px;
  margin: 0 -15px 15px -15px;
  box-shadow: $default-box-shadow;
}
.report-table {
  td {
    font-size: 80%;
  }
  td.table-section-title {
    font-size: 100%;
  }
}
.report-notes {
  border-collapse: separate;
  border-spacing: 0 10px;

  td {
    font-size: 60%;
    vertical-align: top;
  }
}
.card {
  padding: 10px 15px;
  border-radius: $border-radius-lg;
  box-shadow: $default-box-shadow;
  display: inline-block;
  font-size: 100%;
  margin-right: 5px;
  margin-bottom: 10px;

  .card-content {
    font-size: 80%;
  }
}
.card-title {
  font-weight: bold;
}
.card-profit {
  background-color: $primary-color;
  color: $lightest-gray;
}
.card-energy {
  background-color: $secondary-color;
  color: $lightest-gray;

  .card-content {
    color: darken($secondary-color, 40%);
  }
}
.card-cost,
.card-payback {
  background-color: darken($lighter-gray, 3%);
  color: $theme-color;
}
/* -------------------------------------
		HEADER
------------------------------------- */
table.head-wrap {
  width: 100%;
  background-color: $theme-color;
  font-weight: bold;
  box-shadow: $default-box-shadow;
}
.header.container table td.logo {
  padding: 15px;
}
.header.container table td.label {
  padding: 15px;
  padding-left: 0;
}
.navbar-brand {
  height: 30px;
  padding: 0 15px;
  color: $white;

  .navbar-logo {
    display: inline-block;
    
    img {
      vertical-align: middle;
    }
  }

  .navbar-title {
    margin-left: 5px;
    vertical-align: middle;
    font-weight: bold;
    display: inline-block;
  }

  .navbar-subtitle {
    font-size: 80%;
    margin-left: 5px;
    color: $light-gray;
  }
}
/*.header.container td {
  color: $white;
}
.header.container h6 {
  color: $white;
}
.header.container h6 small {
  color: $lighter-gray;
}*/
/* -------------------------------------
		BODY
------------------------------------- */
body {
  background-color: $white;
  color: $default-text-color;
}
table.body-wrap {
  width: 100%;
  padding: 15px;
}
/* -------------------------------------
		FOOTER
------------------------------------- */
table.footer-wrap {
  width: 100%;
  clear: both!important;
}
.footer-wrap .container td.content p {
  // border-top: 1px solid #d7d7d7;
  padding-top: 15px;
}
.footer-wrap .container td.content p {
  font-size: 10px;
  font-weight: bold;
}
.footnote {
  a {
    color: $default-text-color;
  }
}
/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: $theme-color;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  color: $default-text-color;
  line-height: 0;
  text-transform: none;
}
h1 {
  font-weight: 200;
  font-size: 44px;
}
h2 {
  font-weight: 200;
  font-size: 37px;
}
h3 {
  font-weight: 500;
  font-size: 27px;
}
h4 {
  font-weight: 500;
  font-size: 23px;
}
h5 {
  font-weight: 900;
  font-size: 17px;
}
h6 {
  font-weight: 900;
  font-size: 17px;
  // text-transform: uppercase;
  // color: #999;
}
.collapse {
  margin: 0!important;
}
p,
ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
}
p.lead {
  font-size: 17px;
}
p.last {
  margin-bottom: 0px;
}
ul li {
  margin-left: 5px;
  list-style-position: inside;
}
/* -------------------------------------
		SIDEBAR
------------------------------------- */
/*ul.sidebar {
  background: #ebebeb;
  display: block;
  list-style-type: none;
}
ul.sidebar li {
  display: block;
  margin: 0;
}
ul.sidebar li a {
  text-decoration: none;
  color: #666;
  padding: 10px 16px;
  margin-right: 10px;
  cursor: pointer;
  border-bottom: 1px solid #777777;
  border-top: 1px solid #FFFFFF;
  display: block;
  margin: 0;
}
ul.sidebar li a.last {
  border-bottom-width: 0px;
}
ul.sidebar li a h1,
ul.sidebar li a h2,
ul.sidebar li a h3,
ul.sidebar li a h4,
ul.sidebar li a h5,
ul.sidebar li a h6,
ul.sidebar li a p {
  margin-bottom: 0!important;
}*/
/* ---------------------------------------------------
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block!important;
  // max-width: 600px!important;
  margin: 0 auto!important;
  /* makes it centered */
  clear: both!important;
  // background-color: $white;
}
/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding: 10px 15px;

  // max-width: 600px;
  margin: 0 auto;
  display: block;
}
/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%;
}
/* Odds and ends */
.column {
  width: 300px;
  float: left;
}
.column tr td {
  padding: 15px;
}
.column-wrap {
  padding: 0!important;
  margin: 0 auto;
  max-width: 600px!important;
}
.column table {
  width: 100%;
}
.social .column {
  width: 280px;
  min-width: 279px;
  float: left;
}
/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear {
  display: block;
  clear: both;
}
/* -------------------------------------------
		PHONE
		For clients that support media queries.
		Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  a[class="btn"] {
    display: block!important;
    margin-bottom: 10px!important;
    background-image: none!important;
    margin-right: 0!important;
  }
  div[class="column"] {
    width: auto!important;
    float: none!important;
  }
  table.social div[class="column"] {
    width: auto!important;
  }
}
