@import 'variables';

.glossary-letter {
  h2 {
    margin-top: 10px;
  }
}

.glossary-entry {
  a {
    color: darken($default-text-color, 5%);
    font-weight: bold;

    &:hover {
      color: darken($default-text-color, 5%);
    }
  }
}
