{% extends "static_page.html" %}
{% load i18n static %}

{% block meta_title %}
    {{ block.super }} - {% trans 'Supplier contact success' context 'Meta: page title.' %}
{% endblock %}

{% block page_title %}{% trans 'Thank you' context 'Page title.' %}{% endblock %}

{% block page_content %}

    <div class="row">

        <div class="col-xs-12">
            <h4>{% trans 'We have received your request and will get back to you shortly.' context 'Page description.' %}</h4>
            <br/>
            <a href="{% url 'landing_page' %}" class="btn btn-lg btn-primary">{% trans 'Back to PowerMarket' context 'Back button.' %}</a>
        </div>

    </div>

{% endblock %}
