{% extends 'base.html' %}
{% load i18n static %}

{% block meta_title %}{% trans 'Bad request' %}{% endblock %}
{% block styles %}<link href="{% static 'css/error_page.css' %}" rel="stylesheet">{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="centered-content-container">
        <div class="centered-content">
            <h1 class="text-xxl">400</h1>
            <h1>Bad request.</h1>
        </div>
    </div>
{% endblock %}

{% block footer_container %}{% endblock %}