{% extends "landing/blog/blog_article.html" %}
{% load i18n static svg %}

{% block meta_title %}Is solar the right solution for you?{% endblock %}
{% block meta_description %}
    Sustainability and profitability go hand-in-hand: PowerMarket India
{% endblock %}

{% block page_title %}Is solar the right solution for you?{% endblock %}
{% block page_subtitle %}Sustainability and profitability go hand-in-hand: PowerMarket India{% endblock %}
{% block article_author %}<a href="https://www.linkedin.com/in/haemroy/" target="_blank" class="underline">Haem Roy</a>{% endblock %}
{% block article_content %}
    <p>
        India has always held a tradition of not just worshipping but utilizing natural sources. From
        festivals dedicated to the sun and wind to simple methods like sun-dried food. And it is not
        surprising that India is rapidly adopting solar energy. With the abundance of natural resources,
        solar is fast becoming the popular as well as cost-effective choice for commercial enterprises.
    </p>
    <p>
        Why is it a great choice you ask?
    </p>
    <br/>
    <div>
        <img src="{% static 'img/rooftops-new_1920x740.jpg' %}" width="100%" height="auto" />
    </div>
    <br/>
    <h4>1. Control in your hands</h4>
    <p>
        Get the power (pun intended) in your hands installing solar right within your premises. You can
        control not just how much energy you buy from the grid, and how to use that, but also your expenses
        and your profits; and that is just the beginning. Get ready to rake in the benefits!
    </p>
    <br/>
    <h4>2. Being future ready</h4>
    <p>
        Installing solar means that you are locking in energy costs not just for now, but also for the
        future. Most good quality solar projects have a life of 25 years, so you are securing a part of
        your energy requirement for next 25 years. It is no secret that the price of electricity has been
        rising year-after-year. For instance, electricity prices in Bihar have recently increased by 55%<sup>1</sup>.
        Therefore, best hedge against continuously rising energy prices and energy risk is being Energy
        Independent.
    </p>
    <br/>
    <h4>3. Convenient and easy</h4>
    <p>
        Once installed, a solar power system requires very little maintenance. The system will provide
        electricity quietly and cleanly for 25 to 40 years. Many solar panels carry a 25-year warranty.
        Any regular checks and maintenance that is required is provided at PowerMarket, and with just a
        simple sign up post installation, you can leave all of it to us.
    </p>
    <br/>
    <h4>4. Flexible Financing Solutions</h4>
    <p>
        Now, like any other capital asset, solar can also be adopted using different financing solutions.
        The following 3 solutions are some of the most common ones:
    </p>
    <ol>
        <li>Pay up front or self-funded</li>
        <li>Lease</li>
        <li>Debt financing</li>
    </ol>
    <p>
        As no size fits all, different financing solutions have been offered to suit different customer
        needs. You can find more information on <a href="https://www.powermarket.net">PowerMarket website</a>
        about the different financing solutions and whether they are the right fit for you.
    </p>
    <br/>
    <h4>5. Saving environment</h4>
    <p>
        Everyone is talking about saving the environment but how do you do your bit? Using solar for your
        business would now not only help you reduce operational costs, but it is also a great way to boost
        your company’s profile in global social and environmental impact space. Especially, if you are working
        with clients that have started creating their independent sustainability targets, an increasing number
        of companies now give preference to supply partners that display conscious effort towards social
        impact.
    </p>
    <p>
        You can even measure the social/environmental impact of your potential solar project using the
        <a href="https://www.powermarket.net">PowerMarket calculator</a>.
    </p>
    <br/>
    <h4>Where do I start?</h4>
    <p>
        If you are in India, you can go to PowerMarket website and assess whether your space is suitable for
        solar for FREE.  Once you have checked out potential savings, you can sign up to find out how you
        can buy your customized solar solution and even explore financing options that fit your need. Signing
        up is free too, and completely spam free, as you only register for what you want.
    </p>
    <p>
        If you are outside the India or the UK, you can visit us and write to us as we are fast expanding
        and we will contact you with what we can do for you.
    </p>
    <br/>
    <div>
        <img src="{% static 'img/landing-page-screenshot_1920x800.jpg' %}" width="100%" height="auto" />
    </div>
    <br/>
    <br/>
    <p>
        <small>
            <sup>1</sup> Source: <a href="http://www.hindustantimes.com/india-news/55-increase-in-bihar-power-tariff-from-apr-1/story-uZF2x5pX7xauEysMDGN6aL.html">
                http://www.hindustantimes.com/india-news/55-increase-in-bihar-power-tariff-from-apr-1/story-uZF2x5pX7xauEysMDGN6aL.html
            </a>
        </small>
    </p>
{% endblock %}
