{% extends "landing/blog/blog_article.html" %}
{% load i18n static svg %}

{% block meta_title %}The 6 key questions about solar for an SME - {{ block.super }}{% endblock %}
{% block meta_description %}
    Public data says that in the UK alone there are over a 100,000 SMEs (small and medium sized
    enterprises). We are in the golden age of enterprises, and as new ideas blossom, so do new businesses.
{% endblock %}

{% block page_title %}The 6 key questions about solar for an SME{% endblock %}
{% block article_author %}<a href="https://www.linkedin.com/in/haemroy/" target="_blank" class="underline">Haem Roy</a>{% endblock %}
{% block article_content %}
    <br/>
    <div><img src="{% static 'img/rooftops_1920x740.jpg' %}" width="100%" height="auto" /></div>
    <br/>
    <p>
        Public data says that in the UK alone there are over a 100,000 SMEs (small and medium sized
        enterprises). We are in the golden age of enterprises, and as new ideas blossom, so do new businesses.
        However, maintaining and growing a business is no piece of cake, as any SME owner would verify. It
        takes hard work, a lot of strategy and planning, a great team and most of all, invaluable foresight.
    </p>
    <p>
        One of the biggest KPIs and focus areas for an SME is reducing expenses to maximise revenue and
        profits. If you take a look at the largest operational expense most businesses have, it would be
        energy consumption. It is a utility expense that cannot be eliminated, and an increasing fixed cost
        at that.
    </p>
    <p>
        One way that business can control and probably even eliminate this expense is by installing solar
        energy within their premises. However, being a relatively new sector, potential installation costs
        and the effort involved has till date been tedious to say the least. In most cases, either you would
        hire a consultant and as a result the process would be long and expensive — almost 24 months and over
        £40,000 in consultant’s fees. Or, you would take quotes from multiple suppliers, who would only offer
        you ‘lease-your-roof’ finance option (you would be leaving a lot of money on the table) or
        non-standard T&Cs, which would make it impossible to compare two quotes.
    </p>
    <p>
        At <a href="{% url 'landing_page' %}">PowerMarket</a>, our primary goal is to dispel all the challenges and make it a convenient option for
        businesses, with assessment to maintenance and everything in between accessible with just a few
        clicks.
    </p>
    <p>
        Let us look at the 6 key challenges that an SME typically encounters when speculating a solar energy
        project, and how <a href="{% url 'landing_page' %}">PowerMarket</a> strives to overcome those.
    </p>
    <br/>
    <h3>Do I have enough space?</h3>
    <p>The first question many have when they think about renewable energy installation is ‘where?’. Rooftops,
        yards, grounds — any open land will be suitable. The <a href="{% url 'landing_page' %}">PowerMarket</a> tool will let you mark your space
        on a satellite image and understand the assessment for that space. At the first level without you
        adding the customisations and accurate data, it will be an estimate to give you an indication and
        then make a decision.
    </p>
    <br/>
    <h3>How much energy will I generate?</h3>
    <p>
        The amount of energy you will generate depends on a lot of factors. The most feasible for most
        businesses is solar energy. And the amount depends on orientation of your roof area, how much sunlight
        it gets across the day, weather interference, and the total space you have. The best way to get an
        accurate estimate is to get a proper assessment done. <a href="{% url 'landing_page' %}">PowerMarket</a> lets you do that online, where you
        can add various details and date after signing up and it will customise the results to your space and
        requirement. What the tool will also tell you is how much you will save based on your consumption
        pattern. If you end up generating more energy than you need, the tool will estimate how much you can
        earn by selling it back to the grid.
    </p>
    <br/>
    <h3>What is the process and how time consuming is it?</h3>
    <p>
        The process has traditionally been very time-consuming, taking anything up to two years. However, as
        the industry grows, with several organised players entering the market, this can reduce considerably.
        At <a href="{% url 'landing_page' %}">PowerMarket</a>, all the steps from assessment to report to getting quotes can be done within a few
        days, all online and with just a few clicks. After you select a quote and supplier, the supplier will
        visit and install everything right after. Depending on the space, the entire process would not take
        more than a couple of month, end to end.
    </p>
    <br/>
    <h3>Is your supplier trustworthy?</h3>
    <p>
        It is important to do a background check on the supplier before you sign up. Verified reviews, history
        and past work will help you understand how reliable they are. If you pick a supplier through
        <a href="{% url 'landing_page' %}">PowerMarket</a>, this due diligence will be done for you at our end. Before a supplier is featured in
        our marketplace, they have to go through a thorough verification process. We check past records, as
        well as quality and reviews to ensure only the best is provided to all customers.
    </p>
    <br/>
    <h3>Lease or buy?</h3>
    <p>
        If you have a already received quotes from suppliers then you would have noticed that most would only
        give the above two options. Either buy the entire project through a cash payment, or lease your
        rooftop to a third party financiers.
    </p>
    <p>
        You can evaluate the option that suits best for your need. However, for many businesses, neither of the
        two seem like very friendly options. Commercial solar projects could be very expensive, as a result,
        an outright cash purchase could weigh quite heavily on a company’s balance sheet. On the other hand,
        while lease-a-rooftop may seem like an easy option with no capital commitment at all, the savings
        usually are quite nominal, with most of the financial benefits going to the third-party financier.
    </p>
    <p>
        For these businesses, there is also a third option — finance.
    </p>
    <br/>
    <h3>Where can I get finance options?</h3>
    <p>
        You can connect with various financial loan providers who will approve financing for the project. The
        supplier and <a href="{% url 'landing_page' %}">PowerMarket</a> will be glad to provide all the documents you would require for the same.
        Alternatively, we also have financing options available on our site and customers can choose and
        proceed with the project without having to look further. You can choose from flexible repayment plans,
        selling the energy to various other options available that best suit your business needs. Unlike lease,
        finance would allow your business to repay for the solar project over a few years and then own it till
        the end of its life-time.
    </p>
    <p>
        Installing a renewable project is just the beginning. It shall usher your business into the future as
        you are ready for the next decade and more. Plus it will allow you to concentrate on faster growth
        without having energy expenses bog you down. And if you need further convincing, we suggest looking
        up and checking how several businesses who have already adopted this method have benefitted
        tremendously.
    </p>
    <p>
        It’s time to go green and be pro-savings!
    </p>
{% endblock %}
