{% extends "landing/blog/blog_article.html" %}
{% load i18n static svg %}

{% block meta_title %}Why is installing solar good for my business? - {{ block.super }}{% endblock %}
{% block meta_description %}Solar energy in the UK is fast becoming the popular choice for commercial enterprises. And there is a good reason...{% endblock %}

{% block page_title %}Why is installing solar good for my business?{% endblock %}
{% block page_subtitle %}Solar energy in the UK is fast becoming the popular choice for commercial enterprises. And there is a good reason...{% endblock %}
{% block article_author %}<a href="https://www.linkedin.com/in/haemroy/" target="_blank" class="underline">Haem Roy</a>{% endblock %}
{% block article_content %}
    <h3>1. Control in your hands</h3>
    <p>
        When solar energy is installed within your own premises, the power (literally too) lies in your hands.
        You can control not just how much energy you generate, and how to use that, but also your expenses and
        your profits. And that is just the beginning.
    </p>
    <br/>
    <h3>2. Being future ready</h3>
    <p>
        Installing solar means that you are locking in energy costs not just for now, but also in the future.
        Considering the rate at which energy costs are rising, this only means making your business
        future-ready and securing future savings. It brings efficiency to your overall P&L — and isn’t that
        what a business eventually is striving towards?
    </p>
    <br/>
    <h3>3. Convenient and easy</h3>
    <p>
        PowerMarket is a one-stop destination. Right from assessing and calculating to creating a project
        report, quotes, suppliers, installation, customisations, financing and lastly maintenance and
        monitoring — everything is available at our platform. Which means, you don’t need to go running
        around for quotes or consultations, and you will get competitive results without any extra effort or
        time. Need to ask questions and doubts? Our team is available to answer any queries you may have too
        that are specific to your need.
    </p>
    <br/>
    <h3>4. Low maintenance</h3>
    <p>
        Once installed, a solar power system will require very little maintenance. The system will provide
        electricity quietly and cleanly for 25 to 40 years. Many solar panels carry a 25-year warranty.
        The regular checks and maintenance that is required is provided at PowerMarket and with just a simple
        sign up post installation, you can leave all of that to us. We dare say you will even forget you have
        solar installed!
    </p>
    <br/>
    <h3>5. Be the green crusader</h3>
    <p>
        Solar power will ensure that you utilize only green energy, thus reducing your carbon footprint and
        minimizing pollution. You and your business can show your support in the battle against climate change,
        as well as benefit your business with PR and marketing advantages. A positive and responsible image
        goes a great way in building company goodwill.
    </p>
    <br/>
    <h3>6. Where do I start</h3>
    <p>
        If you are in the UK, just go to powermarket.net and assess your space for free. Once you have checked
        out potential savings, you can sign up for further customizations, quotes and more. Signing up is free
        too, and completely spam free, as you only register for what you want. If you are outside the UK, you
        can visit us and write to us as we are fast expanding and we will contact you with what we can do for
        you.
    </p>
    <br/>
    <p><img src="{% static 'img/landing-page-screenshot_1200x675.jpg' %}" width="100%" height="auto" /></p>
{% endblock %}
